<script type="text/javascript">
    var isAutorised = <%= @authorised %>;
</script>
<script type="text/template" id="login-template" onsubmit="return false;">
    <form class="form-signin" onsubmit="return false;">
        <h2 class="form-signin-heading">Please sign in</h2>
        <div class="control-group">
            <input type="text" class="input-block-level required" placeholder="Username" name="username"/>
        </div>
        <div class="control-group">
            <input type="password" class="input-block-level required" placeholder="Password" name="password"/>
        </div>
        <!-- <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label> -->
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
    </form>
</script>
<script type="text/template" id="msgs-alert">
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> <%%= message %></strong>
    </div>
</script>
<script type="text/template" id="msgs-error">
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> <%%= message %></strong>
    </div>
</script>
<script type="text/template" id="msgs-success">
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> <%%= message %></strong>
    </div>
</script>
<script type="text/template" id="projects-heading">
    <div class="row-fluid show-grid <%%= class_xtra %>" id="prjid_<%%= pid %>">
        <div class="span12">
            <div class="row-fluid extra-details">
                <div class="span12">
                    <div class="row-fluid mms-info">
                        <div class="span4"><h4><a href="<%= @redmine_base_url %>/projects/<%%= name %>" target="_blank"><%%= name %></a>&nbsp;<a class="icon-plus new-issue"></a></h4></div>
                        <div class="users label label-info"></div>
                    </div>
                </div>
            </div>
            <div class="row-fluid mms-info">
                <div class="well">
                    <%%= description %>
                </div>
            </div>
            <div class="row-fluid show-grid">
                <div class="issues"><%%= issues %></div>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="issue-part">
    <div class="span4">
        <div>
            <input type="text" value="<%%= name %>" class="span10"/>
            <a href="<%= @redmine_base_url %>/issues/<%%= id %>" target="_blank" class="icon-random"></a>
        </div>
        <div>
            <textarea rows="3"><%%= description %></textarea>
            <div>
                <button type="submit" class="btn">Save</button>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="progress-bar">
    <div class="row-fluid show-grid progress_holder">
        <div class="span12">
            <strong>12</strong></br>
            <div class="progress progress-striped active">
              <div class="bar" style="width: 0px;"></div>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="project-menu-part">
    <li id="rootid_<%%= id %>" class="projects">
        <a href="#weeklyStatusUpdate/<%%= id %>"><%%= name %></a>
    </li>
</script>
<script type="text/template" id="menu-template">
    <h2 class="muted text-right">Status management system</h2>
    <div class="navbar navbar-inner">
        <div class="btn-group pull-left">
            <a class="btn btn dropdown-toggle" data-toggle="dropdown">
                <i class="icon-filter icon"></i>Projects<span class="caret"></span>
            </a>
            <ul class="dropdown-menu project-selector">
                <li><a href="#weeklyStatusUpdate">All</a></li>
            </ul>
        </div>
        <div class="btn-group pull-right">&nbsp;</div>
        <div class="btn-group pull-right">
            <a class="btn btn-primary">
                <i class="icon-user icon-white"></i>
                <%%= userinfo_big %> [<%%= userinfo_small %>]
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a id="action-logout" href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</script>
<div id="container-fluid">
    <div id="messages-pane"></div>
    <div id="login-pane"></div>
    <div id="app-pane"></div>
</div>